.button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 19px 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--d-purple-color);
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: var(--d-white-color);
    transition: .15s;
}

.button:hover {
    transform: scale(1.02);
}

.button.unactive {
    background-color: #FFF;
}
@media (max-width:768px) {
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        gap: 0;
        font-size: 0;
    }
}
